* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ITC Avant Garde Gothic Std";
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("img/Pattern.webp");
    background-repeat: repeat;
    min-width: 300px;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

a i:hover {
    color: rgba(255, 195, 32, 0.801);
}

/* NAV BAR */

header {
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #2F323C;
    color: #f3f3f3;
}

/*nav bar - opciones*/

.logo-nav {
    margin-left: 30px;
}

.checkbutton {
    display: none;
}


.navlist {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlist li {
    width: 150px;
}

.inicio,
.productos,
.como-comprar,
.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
    color: #fdfdfd;
}

.inicio:hover,
.productos:hover,
.como-comprar:hover,
.contacto:hover {
    color: #202020;
    transition: 0.1s;
    background: rgba(255, 195, 32, 0.801);
}

/*NAV - SEARCHBAR*/

.logo-nav {
    display: flex;
    justify-content: center;
}

.search-div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #2f323c;
}

.search-bar {
    width: 90%;
}

.busqueda-nav {
    width: 95%;
    height: 30px;
    outline: none;
    padding-left: 10px;
}

.search-producto-bar {
    display: flex;
    padding: 10px 0;
}

.btn-nav-search {
    width: 5%;
}

/* HERO */

.portada {
    width: 100%;
    height: 600px;
    background: url("img/pendantLights.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 30%;
    color: black;
}

.textoButtonPortada {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}

.containTextPortada {
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 107.5%;
    text-align: center;
    letter-spacing: -0.009em;
    color: #2F323C;
}

.buttonVerProductos {
    width: 275.83px;
    height: 50px;
    background: #2F323C;
    color: #f5f5f5;
    font-family: 'ITC Avant Garde Gothic Std';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 105.5%;
    text-align: center;
    margin: 10px;
    border: 1px solid #2F323C;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.buttonVerProductos:hover {
    background-color: rgba(255, 195, 32, 0.801);
    color: #1c1c1d;
    border: none;
    transition: 0.2s;
    box-shadow: -3px 42px 64px -23px rgba(0, 9, 43, 0.4);
    -webkit-box-shadow: -3px 42px 64px -23px rgba(0, 9, 43, 0.4);
    -moz-box-shadow: -3px 42px 64px -23px rgba(0, 9, 43, 0.4);
}

/*Banner de Empresa*/

.empresa {
    width: 100%;
    height: 499px;
    display: flex;
    justify-content: space-between;
    color: #2F323C;
    background-color: #fafafad7;
    ;
}

.bannerLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: #fafafad7;
    line-height: auto;
}

.containTextLeft {
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
}

.bannerLeft h2 {
    display: block;
    font-size: 40px;
    font-weight: 500px;
    margin: 10px 0;
    text-transform: uppercase;
}

.bannerLeft p {
    font-size: 20px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    align-items: center;
    margin: 10px 0;
}

.bannerRight {
    width: 50%;
    height: 100%;
    background: url("img/lamparaMesa.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* CARDS - TARJETAS */

.productosTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-weight: 500;
    font-size: 25px;
    padding-top: 10px;
}

.all-boxes {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0 80px 0;
}

.tipos-luminarias {
    width: 30%;
    height: 200px;

}

.plafones,
.apliques,
.colgantes,
.arana,
.de-pie,
.de-escritorio {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(3, 3, 36);
    font-size: 24px;
    background-position: center;
    border: none;
    font-weight: 400;
}

.plafones {
    background-image: url("img/plafon1.png");
    background-size: cover;
}

.apliques {
    background-image: url("img/aplique1.jpg");
    background-size: cover;

}

.colgantes {
    background-image: url("img/colgante3.webp");
    background-size: cover;
}

.arana {
    background-image: url("img/araña1.jpg");
    background-size: cover;
}

.de-pie {
    background-image: url("img/de-pie1.jpg");
    background-size: cover;
}

.de-escritorio {
    background-image: url("img/de-escritorio1.webp");
    background-size: cover;
}

.text-luminarias {
    width: 100%;
    height: 30%;
    background-color: rgba(255, 255, 255, 0.726);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    letter-spacing: 2px;
}

.tipos-luminarias:hover .text-luminarias {
    height: 100%;
    color: #f3f3f3;
    background-color: rgba(1, 1, 34, 0.445);
    transition: 0.2s ease-out;
    background-size: 110%;
}

.tipos-luminarias:hover {
    background-size: 110%;
}


#check {
    display: none;
}

/*FOOTER*/

footer {
    width: 100%;
    height: auto;
    background-color: #2f323c;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;


}

.footer-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    color: #FAFAFA;
    margin-left: 50px;
    padding: 30px 0;
}

.footer-info>h1,
h2,
p,
img {
    margin: 2px 0;
}

.redes-sociales {
    display: flex;
    width: 100%;
    font-size: 30px;
    justify-content: left;
    padding-top: 20px;
    margin-right: 30px;
    color: #fff;
}

.redes-sociales a i {
    margin-right: 30px;
}



/*COMO COMPRAR*/

hr {
    width: 100%;
    color: #2c3e50;
}

.how-to-buy {
    text-align: center;
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-to-title-descritption {
    margin: 25px 0;
}

.easy-to-buy {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding-bottom: 40px;
    flex-wrap: wrap;
    margin: 0 100px;
}

.icons-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 25%;
    text-align: center;
}

.icons-cards {
    display: block
}

.icons-cards i {
    font-size: 30px;
    margin: 5px;
    color: #0d1738
}

.icons-text h3,
p {
    margin-top: 10px;
}

/*pantalla maxima - 720*/

@media (max-width: 720px) {

    /*NAV Pantallas chicas*/
    .checkbutton {
        display: block;
    }

    .navlist {
        height: 250px;
    }

    /* SEARCH BAR - PANTALLAS CHICAS */

    nav {
        display: flex;
        justify-content: space-between;
    }

    /*COMPORTAMIENTO NAV Burger*/

    .checkbutton .fa-solid {
        font-size: 26px;
        margin-right: 30px;
    }

    .checkbutton .fa-solid:hover {
        color: rgba(255, 195, 32, 0.801);
    }

    .navlist {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 120px;
        right: 100%;
        background-color: rgba(1, 9, 43, 0.733);
        transition: 0.3s;
        height: auto;
    }

    .navlist li {
        width: 100%;
        background: #2F323C;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .navlist {
        display: flex;
        justify-content: center;

    }

    #check:checked~.navlist {
        right: 0;
        transition: 0.3s;
    }

    /*search - busqueda dispositivos chicos*/

    .search-div {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        justify-content: center;
        background-color: #2F323C;
    }

    .search-bar {
        width: 85%;
    }

    .busqueda-nav {
        width: 90%;
        height: 40px;
        outline: none;
        padding-left: 10px;
    }

    .search-producto-bar {
        display: flex;
        padding: 10px 0;
    }

    .btn-nav-search {
        width: 15%;
    }

    .btn-nav-search>i {
        color: #000;
    }

    /*HERO - PANTALLAS CHICAS*/

    .portada {
        width: 100%;
        height: 500px;
        background: url("img/pendantLights.png");
        background-repeat: no-repeat;
        background-size: cover;
        color: black;
        background-position: center 10%;
    }

    .containTextPortada {
        font-style: normal;
        font-weight: 500;
        font-size: 70px;
        line-height: 107.5%;
        text-align: center;
        letter-spacing: -0.07em;
        color: #2F323C;
    }

    /*BANNER EMPRESA - PANTALLAS CHICAS*/

    .empresa {
        width: 100%;
        height: 800px;
        background: #fafafad7;
        color: #fafafad7;
        ;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .bannerLeft {
        display: flex;
        flex-direction: column;
        height: 40%;
        justify-content: center;
        width: 100%;
        background: #fafafad7;
        ;
        color: #2F323C;
    }

    .bannerLeft h2 {
        font-size: 30px;
        align-items: left;
    }

    .bannerLeft p {
        font-size: 18px;
        display: inline-block;
        font-style: normal;
        font-weight: 300;
        align-items: center;
    }

    .bannerRight {
        width: 100%;
        height: 60%;
        background: url("img/lamparaMesa.png");
        background-size: cover;
        background-color: #fafafad7;
        background-repeat: no-repeat;
        background-position: center;
    }

    /*PRODUCTOS CARDS EN PANTALLAS CHICAS*/

    .tipos-luminarias {
        width: 90%;
        height: 200px;
    }

    /*COMO COMPRAR PANTALLAS CHICAS*/

    .how-to-buy {
        text-align: center;
        margin: 5px 0;
    }

    .how-to-title-descritption {
        margin: 30px 0;
    }

    .easy-to-buy {
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 40px;
        flex-wrap: wrap;
    }

    .icons-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 80%;
        text-align: center;
    }

    .icons-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 80%;
        text-align: center;
        padding-top: 30px;
    }

    .icons-text i {
        color: #0d0325;
    }

    /*FOOTER PANTALLAS CHICAS*/

    footer {
        width: 100%;
        height: 400px;
        background-color: #2f323c;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .footer-info {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #FAFAFA;
        margin: 0 auto;
    }

    .footer-info>h1,
    h2,
    p,
    img {
        margin: 2px 0;
    }

    .redes-sociales {
        display: flex;
        font-size: 30px;
        justify-content: space-evenly;
        color: #fff;
        margin: 0 30px;
    }

    .redes-sociales a i {
        margin: auto auto;
        font-size: 30px;
    }
}