* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ITC Avant Garde Gothic Std";
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("img/Pattern.webp");
    background-repeat: repeat;
    min-width: 300px;
}

a, a:visited, a:hover, a:active {
    color: inherit;
  }

  i:hover {
    color: #f3e17e;
}


/* NAV BAR */

header {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: #2F323C;
    color:#f3f3f3 ;
    position: fixed;
    
    
}

.checkbutton {
    display: none;
}


.navlist {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inicio,
.productos,
.clientes,
.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 70px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    font-weight:500;
    text-decoration: none;
    list-style: none;
    color: #fdfdfd;
    padding: 5px;
}

.inicio:hover, 
.productos:hover, 
.clientes:hover,
.contacto:hover
{
    color:#f3e17e;
    transition: 0.1s;
    border-bottom: 5px solid #f3e17e;
    padding-bottom: 0;

}

.logonav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}

/* HERO */

.portada {
    width: 100%;
    height: 700px;
    background: url("img/pendantLights.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 30%;
    color: black;
}

.textoButtonPortada {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}

.containTextPortada {
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 107.5%;
    text-align: center;
    letter-spacing: -0.07em;
    color:  #2F323C;
}

.buttonVerProductos {
    width: 275.83px;
    height: 50px;
    background: #2F323C;
    color: #f5f5f5;
    font-family: 'ITC Avant Garde Gothic Std';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 105.5%;
    text-align: center;
    margin: 10px;
    border: 1px solid #2F323C;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.buttonVerProductos:hover {
    background-color: #f3e17e;
    color:#2F323C;
    border: none;
    transition:0.2s;
    box-shadow: -3px 42px 64px -23px rgba(0,9,43,0.4);
-webkit-box-shadow: -3px 42px 64px -23px rgba(0,9,43,0.4);
-moz-box-shadow: -3px 42px 64px -23px rgba(0,9,43,0.4);
}

/*Banner de Empresa*/

.empresa {
    width: 100%;
    height: 499px;
    display: flex;
    justify-content: space-between;
    color: #2F323C;
    background-color: #fafafad7;;
}

.bannerLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color:  #fafafad7;
    line-height: auto;
}

.containTextLeft {
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
}

.bannerLeft h2 {
    display: block;
    font-size: 40px;
    font-weight: 500px;
    margin: 10px 0;
    text-transform: uppercase;
}

.bannerLeft p {
    font-size: 20px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    align-items: center;
    margin: 10px 0;
}
.bannerRight {
    width: 50%;
    height: 100%;
    background:url("img/lamparaMesa.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.queBuscas {
    width: 80%;
    height: 499px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: auto;
}

.buscarArticulo {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    opacity: 80%;
    border-radius: 5px;
}

.consultarArticulo {
    width: 30%;
    height: 40px;
    background-color: #FAFAFA;;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}

.consultarArticulo:hover {
    background-color: #f3e17e;
    color:#0d0325;
}

/* CARDS - TARJETAS */

.productosTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-weight: 500;
    font-size: 25px;
    padding-top: 10px;
}

.all-boxes {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0 80px 0;
}

.tipos-luminarias {
    width: 30%;
    height: 200px;
    margin: 10px;
    
}

.plafones,
.apliques,
.colgantes,
.arana,
.de-pie,
.de-escritorio {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(9, 9, 58);
    font-size: 24px;
    background-position: center;
    border: none;
}

.plafones {
    background-image: url("img/plafon1.png");
    background-size: cover;
}

.apliques {
    background-image: url("img/aplique1.jpg");
    background-size: cover;

}
.colgantes {
    background-image: url("img/colgante3.webp");
    background-size: cover;
}

.arana {
    background-image: url("img/araña1.jpg");
    background-size: cover;
}

.de-pie {
    background-image: url("img/de-pie1.jpg");
    background-size: cover;
}

.de-escritorio {
    background-image: url("img/de-escritorio1.webp");
    background-size: cover;
}

.text-luminarias {
    width: 100%;
    height: 30%;
    background-color: rgba(255, 255, 255, 0.726);
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    letter-spacing: 2px;
}

.tipos-luminarias:hover .text-luminarias {
    height: 100%;
    color: #f3f3f3;
    background-color: rgba(1, 1, 34, 0.445);
    border-radius: 7px;
    transition: 0.2s ease-out;
    background-size: 110%;
}
.tipos-luminarias:hover {
    background-size: 110%;
}


#check{
    display: none;
}

@media (max-width: 899px) {
    .tipos-luminarias {
        width: 40%;
        height: 200px;
        margin: 10px;
        
    }
}

@media (max-width: 720px) {
    .tipos-luminarias {
        width: 80%;
        height: 200px;
        margin: 10px;
        
    }
}

/*FOOTER*/

footer {
    width: 100%;
    height: 300px;
    background-color: #2f323c;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;


}

.footer-info{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    color: #FAFAFA;
    margin-left: 50px;
}

.footer-info > h1,h2,p,img {
    margin: 2px 0;
}

.redes-sociales {
    display: flex;
    width: 30%;
    font-size: 30px;
    justify-content: space-around;
    padding-top: 20px;
    margin-right: 30px;
    color: #fff;
    

}

/*Hero + Banner de Empresa - Pequeños dispositivos*/ 

@media (max-width: 720px) {

    .portada {
        width: 100%;
        height: 500px;
        background: url("img/pendantLights.png");
        background-repeat: no-repeat;
        background-size: cover;
        color: black;
        background-position: 50% 30%;
    }
    
    .containTextPortada {
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        line-height: 107.5%;
        text-align: center;
        letter-spacing: -0.07em;
        color:  #2F323C;
    }
    
    .empresa {
        width: 100%;
        height: 800px;
        background: #fafafad7;
        color: #fafafad7;;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .bannerLeft {
        display: flex;
        flex-direction: column;
        height: 40%;
        justify-content: center;
        width: 100%;
        background: #fafafad7;;
        color: #2F323C;
    }
    
    .bannerLeft h2 {
        font-size: 30px;
        align-items: left;
    }
    
    .bannerLeft p {
        font-size: 18px;
        display: inline-block;
        font-style: normal;
        font-weight: 300;
        align-items: center;
    }

    .bannerRight {
        width: 100%;
        height: 60%;
        background:url("img/lamparaMesa.png");
        background-size: cover;
        background-color: #fafafad7;;
        background-repeat: no-repeat;
        background-position: center;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    }

@media (max-width: 720px) {
    .checkbutton {
        display: block;
    }

    .navlist {
        height: 300px;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        height: 40px;
        width: 100%;
        background: #2c3e50;
        top: 70px;
        right: -100%;
        text-align: center;
        opacity: 0.9;
        height: 20px;
        transition: 0.2s ease-in-out;
    }

    #check:checked ~ ul {
        right: 0;
     }

    #check:checked  {
        left: 10px;
    }    

    
    nav ul li a {
        font-size: 15px;
    }

    i {
        color: #ebebeb;
        margin-right: 20px;
        font-size: 3vh;
    }

    i:hover {
        color: #f3e17e;
    }

    footer {
        width: 100%;
        height: 400px;
        background-color: #2f323c;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    
    
    }
    
    .footer-info{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #FAFAFA;
        margin: 0 auto;
    }
    
    .footer-info > h1,h2,p,img {
        margin: 2px 0;
    }
    
    .redes-sociales {
        display: flex;
        font-size: 30px;
        justify-content: space-around;
        color: #fff; 
        margin: 0 auto;
    }

    .redes-sociales a i {
        margin: auto auto;
    }

}

/*COMO COMPRAR*/

hr {
    width: 80%;
    color: #2c3e50;
}

.como-comprar {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.como-comprar-title {
    margin-top: 30px;
}

.como-comprar-cards {
    display: flex;
    text-align: center;
    flex-direction: row;
    width: 80%;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content:center;
    padding: 50px 0;


}

.cards-general {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

@media (max-width: 720px) {
    
    .cards-general {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        flex-wrap: wrap;
    }
    
}

@media (max-width: 520px) {
    

.como-comprar-cards {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 80%;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    padding: 50px 0;


}
    
}